In [9]:
import yfinance as yf
#抓美股直接寫股票代號，抓台服後面要加.TW
tw2330 = yf.download('2330.TW', start='2025-01-01',end='2025-06-01',auto_adjust=True) #台積電
tw2303 = yf.download('2303.TW', start='2025-01-01',end='2025-06-01',auto_adjust=True) #聯電
tw2454 = yf.download('2454.TW', start='2025-01-01',end='2025-06-01',auto_adjust=True) #聯發科
tw2317 = yf.download('2317.TW', start='2025-01-01',end='2025-06-01',auto_adjust=True) #鴻海
#head：前五筆；tail：後五筆
tw2330.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price        Close    High     Low    Open    Volume
Ticker     2330.TW 2330.TW 2330.TW 2330.TW   2330.TW
Date
2025-01-02  1065.0  1075.0  1055.0  1070.0  43177098
2025-01-03  1075.0  1085.0  1075.0  1080.0  30415096
2025-01-06  1125.0  1125.0  1095.0  1100.0  69289786
2025-01-07  1130.0  1160.0  1130.0  1150.0  48758688
2025-01-08  1105.0  1130.0  1105.0  1110.0  45211419

In [ ]:
#先檢查資訊
tw2330.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 95 entries, 2025-01-02 to 2025-05-29
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Close, 2330.TW)   95 non-null     float64
 1   (High, 2330.TW)    95 non-null     float64
 2   (Low, 2330.TW)     95 non-null     float64
 3   (Open, 2330.TW)    95 non-null     float64
 4   (Volume, 2330.TW)  95 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.5 KB

column有(Close, 2330.TW)：表示欄位有兩個

In [ ]:
tw2330['Close']

Ticker      2330.TW
Date
2025-01-02   1065.0
2025-01-03   1075.0
2025-01-06   1125.0
2025-01-07   1130.0
2025-01-08   1105.0
...             ...
2025-05-23    984.0
2025-05-26    976.0
2025-05-27    965.0
2025-05-28    967.0
2025-05-29    967.0

[95 rows x 1 columns]

In [ ]:
tw2330['Close']['2330.TW']

Date
2025-01-02    1065.0
2025-01-03    1075.0
2025-01-06    1125.0
2025-01-07    1130.0
2025-01-08    1105.0
               ...
2025-05-23     984.0
2025-05-26     976.0
2025-05-27     965.0
2025-05-28     967.0
2025-05-29     967.0
Name: 2330.TW, Length: 95, dtype: float64